body {
    font-family: Arial, Helvetica, sans-serif;
}

.links {
    display: flex;
    flex-wrap: wrap;
    float: right;
    clear: both;
}

.links a {
    text-decoration: none;
    padding: 5px;
}

.main {
    margin-left: auto;
    margin-right:auto ;
    text-align: center;
    clear: both;
}

.special-margin {
    margin-left: 50px;
}

.advanced {
    margin: 0px;
    text-align: left;
    max-width: 700px;
    min-width: 100px;
}

.main-text {
    font-size: larger;
    padding-bottom: 10px;
}

.logo {
    padding-top: 100px;
}

.search-input input{
    outline: none;
    border: solid rgb(160, 160, 229) 1px;
    border-radius: 15px;
    width: 500px;
    height: 30px;
}

.search-input input:hover {
    box-shadow: 0 1px 6px rgb(196, 196, 235);
}

.logo-advanced {
    text-align: left;
}

.logo-advanced img {
    width: 126px;
}

h1 {
    font-size: 22px;
    text-align: left;
}

.label {
    display: inline-block;
    width: 190px;
    font-size: smaller;
}

.input {
    display: inline-block;
    width: 55%;
}

.input input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid #d9d9d9;
}

.input input:focus {
    outline: solid rgb(160, 160, 229) 1px;
    box-shadow: inset 0px 0px 1px 0px #bfcedd;
}

.buttons {
    padding-top: 20px;
}

.buttons input {
    margin: 5px;
    width: 120px;
    height: 40px;
    border: none;
    background-color: #f8f9fa;
}

.buttons input:hover {
    border: 1px solid #bfcedd;
    box-shadow: 0 1px 6px #bfcedd;
}

.buttons input:focus {
    outline: solid rgb(160, 160, 229) 1px;
}

.button {
    width: 82%;
}

.button input {
    float: right;
    margin: 5px;
    width: 120px;
    height: 30px;
    border: none;
    background-color: #4d90fe;
    color: #fff;
}

.button input:hover {
    border: solid 1px blue;
}
